*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Utility */
/* Fine utility */
#container{
    display: flex;
    /* background-color: #14181F ; */
    height: calc(100vh - 100px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#central-container{
    width: calc(100% - 8%);
    display: flex;
    flex-direction: column;
}
   

/* aside */
aside{
    
    background-color: black;
    color: white;
    width: 8%;
} 
#nav-lateral{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}    
   
/* parte superiore dell'aside */
.icon-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-up div{
    padding: 5px 0;
}

.icon-up img{
    width: 20px;
}
/* parte inferiore dell'aside */
.icon-down{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}    
.icon-down .fa-regular{
    font-size: 12px;
    padding-bottom: 20px;
}
.icon-down img{
    width: 20px;
    background-color: grey;
    border-radius: 50%;
}
/* parte centrale */
/* header con bottone upgrade */
header{
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* position: fixed; */
    width: 100%;
    
}
header a{
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    margin-left: 45%;
}
    /*nav centrale  */
#nav-central ul li a{
    text-decoration: none;
    
}     

#nav-central ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
#nav-central ul li{
    color: grey;
    margin: 15px 8px;
    font-weight: bold;
} 
.green{
    width: 50%;
    border: 1px solid #A4FF2E ;
    margin: 0 auto
}  
    
    




