*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Utility */
.f-14{
    font-size: 14px;
}
.f-16{
    font-size: 16px;
}
.f-18{
    font-size: 18px;
}
.f-24{
    font-size: 24px;
}
.c-white{
    color: white;
}
.c-grey{
    color: grey;
}
/* Fine utility */
/* container */
#container{
    display: flex;
    background-color: #14181F ;
    height: calc(100vh - 100px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#central-container{
    width: calc(100% - 10%);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
   

/* aside */
#aside{
    background-color: black;
    color: white;
    width: 10%;
} 
#nav-lateral{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}    
   
/* parte superiore dell'aside */
#aside .icon-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#aside .icon-up div{
    padding: 5px 0;
}

#aside .icon-up img{
    width: 20px;
}
#aside .icon-up .logo img{
    width: 25px;
}
/* parte inferiore dell'aside */
#aside .icon-down{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}    
#aside .icon-down .fa-regular{
    font-size: 12px;
    padding-bottom: 20px;
}
#aside .icon-down .user{
    width: 20px;
    background-color: grey;
    border-radius: 50%;
}
#aside .icon-down .download{
    width: 15px;
    margin-bottom: 20px;
}

/* parte centrale */
/* header con bottone upgrade */
#header{
    padding: 30px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: right;
    width: 90%;
    position: fixed;
    top: 0;
    right: 0;
}
#header a{
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    
}
    /*nav centrale  */
#nav-central{
    margin-top: 70px;
}    
#nav-central ul li a{
    text-decoration: none;
    
}     

#nav-central ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
#nav-central ul li{
    color: grey;
    margin: 15px 8px;
    font-weight: bold;
} 
.green{
    width: 50%;
    border: 1px solid #A4FF2E ;
    margin: 0 auto
} 
 /*main con brani  */
 #main{
     width: 90%;
     margin: 0 auto;
}    
     /*parte recently  */
 
#main h2{
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 20px;
    color: white;
}    
 

 #main .recently{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 #main div{
     flex-basis: calc(50% - 5px);
     text-align: center;
}      
   


 #main div img{
     width: 100%;
}
#main div h4{
    margin: 10px 0 5px 0;
    font-size: 16px;
    color: white;
}
#main div span{
    color: grey;
}
/* parte create */
#main .create{
    display: flex;
    justify-content: space-between;
}
/* parte popolar */
#main .popolar{
    display: flex;
    justify-content: space-between;
}
#main .popolar img{
    border-radius: 50%;
}

/* parte inefriore con il footer */
#footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #242424;
}
/* parte di sinistra */
#footer .left{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
#footer .left img{
    width: 40px;
}
#footer .left .text, .icon-2{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
#footer .left .icon-2 i{
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
/* parte centrale */
#footer .central{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#footer .central .icon-down{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#footer .central .icon-up i{
    margin-right: 15px;
}
#footer .icon-down .time{
    height: 3px;
    flex-basis: 80%;
    background-color:#505050; 
    border-radius: 10px;
    align-self: center;
    margin: 0 5px;
}
#footer .icon-down .time div{
    width: 25%;
    background-color: lightgray;;
    height: 100%;
    border-radius: 10px;
} 
/* parte di destra */
#footer .right div{
    height: 100%;
    display: flex;
    align-items: center;
}
#footer .right div i{
    margin-right: 10px;
}






 
    
    




